<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 添加公共变量信息：方法1   -->
    <properties resource="application-dev.properties"></properties>

    <settings>
        <!--   设置数库每个设置项     -->
        <!--   全局地开启或关闭配置文件中的所有映射器已经配置的任何缓存。     -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driverName2}"/>
                <property name="url" value="${database.url1}"/>
                <property name="username" value="${database.username1}"/>
                <property name="password" value="${database.password1}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/EmployeeMapper.xml"/>
        <mapper resource="mybatis/EmployeeMapperInterface"/>
    </mappers>
</configuration>